spring:
  application:
    name: oot-server
  profiles:
    active: local # 기본 실행 프로파일 지정
  jpa:
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

  # CORS 설정 추가
  cors:
    allowed-origins: http://localhost:3000

  # 데이터소스 드라이버만 공통으로 정의
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jackson:
    default-property-inclusion: non_null
  config:
    import: optional:file:.env[.properties]

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  # OAuth2 설정
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            # 백엔드 콜백 URI(Google Console에 등록한 주소와 일치해야 함)
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"

  cloud:
    aws:
      # AWS Parameter Store 자동 설정 비활성화(로컬 실행 오류 방지)
      parameter-store:
        enabled: true

      # S3 버킷 설정
      s3:
        bucket: ${aws.s3.bucket}

      # 리전 설정
      region:
        static: ap-northeast-2
        ## Spring Cloud AWS(버전 3.x) 라이브러리의 정적 리전 설정 표준 키
        ## 따라서 staticRegion -> static 수정

server:
  port: 8080
  servlet:
    context-path: /api

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        # 웹을 통해 노출할 Actuator 엔드포인트를 지정합니다.
        include: health,info,prometheus
  endpoint:
    prometheus:
      # prometheus 엔드포인트를 활성화합니다. (기본값은 true이나 명시 권장)
      enabled: true
    health:
      show-details: when-authorized
  metrics:
    tags:
      application: OOT-observability

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.core.env: DEBUG
    org.springframework.boot.context.config: DEBUG
    com.zaxxer.hikari: DEBUG

jwt:
  secret:
    key: ${jwt.secret.key}
  # TODO: 추후 리팩토링 대상
  refresh-expiration: 604800000    # 7일(밀리초)
  max-devices-per-user: 5          # 기본값 5개, 필요시 변경 가능

kakao:
  map:
    api-key: ${KAKAO_MAP_API_KEY}
    base-url: https://dapi.kakao.com